.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    padding: 20px;
    color: #fff;
}

.nav-bar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.nav-bar a.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
}

.nav-bar .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.nav-bar .nav-links a:hover {
    background: #fff;
    color: #333;
}

.nav-bar .nav-links a.active {
    background: #fff;
    color: #333;
}